# Global ignoring of different binaries and another temporary files

# Git files and folders
.git/
*.gitattributes
*.gitignore

# Docker files
docker/
!docker/**/*.sh
*.dockerignore

# Gradle cache
.gradle/

# Build results
build/
run/

# Visual Studio Code files
.vscode/

# System cache
.DS_Store
Thumbs.db
