# Global ignoring of different binaries and another temporary files

# Git files and folders
.git/
*.gitattributes
*.gitignore

# Docker files
.docker/
docker/
!docker/**/*.sh
*.dockerignore

# Gradle cache
.gradle/

# Build results
bin/
build/
run/

# Visual Studio Code files
.vscode/

# Minecraft files
mods/
config/
world/
crash-reports/

# System cache
.DS_Store
Thumbs.db
