# Enable top-most EditorConfig file
root = true

# Markdown documents
[*.md]

# Common settings
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true

# Git configs
[*.{gitattributes,gitignore,mailmap}]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true

# Docker files
[{*.dockerignore,Dockerfile*}]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Environment configs
[*.env*]

# Common settings
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Shell scripts
[{*.sh,gradlew}]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Batch scripts
[*.{bat,cmd}]

# Common settings
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# YAML configs
[*.{yml,yaml}]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# TOML configs
[*.toml]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Visual Studio Code files
[*.code-workspace,.vscode/*.json,!.vscode/launch.json]

# Common settings
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Gradle scripts
[*.gradle]

# Common settings
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Java files
[*.{java,properties*}]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Minecraft resources
[*.{info,mcmeta}]

# Common settings
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
