# Global ignoring of different binaries and another temporary files

# Java cache
libs/

# IntelliJ Idea cache and settings
.idea/
out/
*.ipr
*.iws
*.iml

# Visual Studio Code files
.vscode/launch.json

# Gradle cache and settings
.gradle/
build/
run/

# Minecraft cache and settings
mcmodsrepo/
mods/
config/
world/
crash-reports/
server.properties

# System cache
.DS_Store
Thumbs.db
